{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

<!-- table of user's portfolio for stock lookup -->
{% block main %}
    <header>
        Your transaction history. Please reflect on your actions.
        <p></p>
    </header>
    <table class="table table-bordered">
        <thead>
            <th>Type</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Date & Time</th>
        </thead>

        <!-- which variables do you need to pass to history.html? -->

        <tbody>
            {% for item in portfolio %}
            <tr>
                <td>{{ item.type }}</td>
                <td>{{ item.what }}</td>
                <td>{{ item.whatprice }}</td>
                <td>{{ item.howmany }} </td>
                <td>{{ item.when }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}