{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <header>Welcome back, {{ username }}! Way to develop new habits!</header>

    <h4>Eat</h4>
    <div class="panel-body">
        <div id="cal-heatmap">
        </div>
    </div>
    <p></p>
    <div id="heatmap-navigation">
        <button id="heatmap-previous" type="button" class="btn btn-info btn-sm"><-</button>
        <button id="heatmap-next" type="button" class="btn btn-info btn-sm">-></button>
    </div>

    <div id="cal-heatmap"></div>
    <script type="text/javascript">
        /* global CalHeatMap */
        var cal = new CalHeatMap();
	    cal.init({
	        domain: "month",
            subDomain: "day",
            range: 2, legend: [2, 3, 5, 6],
            cellSize: 20,
            cellRadius: 2,
            weekStartOnMonday: false,
            verticalOrientation: false,
            domainDynamicDimension: true,
            displayLegend: true,
            /* label: {
	            position: "right",
	            width: 150,
	            rotate: "left"
                }, */
            previousSelector: "#heatmap-previous",
            nextSelector: "#heatmap-next",
            data: {{ activity_dict|safe }}
	    });
    </script>

<a href="/add">Add</a>, <a href="/remove">remove</a>, or <a href="/update">update</a> habits.

{% endblock %}